!*.gitignore
tmp
.DS_Store
*.log
*.pyc
*.bak
*.pyc
script/pids
.*.swp
.*.swo
*.pid
ical
*.sqlite3
*.sqlite
._*
*.sql
*.tmproj
dump.rdb
.bundle
*.couchapprc
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
node_modules
